h1 {
    font-family: Arial;
    text-align: center;
    font-size: 16pt;
    font-weight: bold;
}
h2 {
    font-family: Arial;
    text-align: center;
    font-size: 12pt;
    font-weight: 150;
}
p {
    text-align: center;
    font-family: Arial,sans-serif;
    font-style: italic;
}
p1 {
    text-align: left;
    font-family: Arial, sans-serif;
    text-decoration: underline;
    font-style: italic;
    font-weight: bold;
}
p2 {
    text-align: left;
    font-family: Arial, sans-serif;
    font-weight: 100;
}
li {
    font-family: Arial, sans-serif;
    font-weight: 100;
}
table,th {
    border: 5px solid rgb(200,50,50);
    margin: 0px auto;
}
table {
    border-collapse: collapse;
}
th {
    width: 390px;
    height: 375px;
    text-align: left;
    padding: 5px;
}
.horizontal-line {
    border-bottom: 3px solid green;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}
.container {
    font-size: 10pt;
    font-weight: 100;
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid grey;
}
